---
spring:
    config.activate.on-profile: default
    sql.init.platform: h2
cds:
    security:
        authentication:
            authenticateMetadataEndpoints: false
        mock.users:
            admin:
                password: admin
                roles:
                    - admin
                attributes:
                    businessPartner:
                        - "10401010"
            user:
                password: user
logging:
    level:
        com.sap.cds: DEBUG
        org.springframework.security: DEBUG
